td,
th {
  padding: 5px;
}

.table-header {
  padding-bottom: 20px;
}

table * {
  font-size: 16px;
}

.name-input {
  width: 50%;
  margin: 10px 0;
  padding: 5px;
  font-size: 20px;
}

.score-submit-btn {
  padding: 10px;
  width: 20%;
  border-radius: 10px;
  font-size: 20px;
  background-color: green;
  border: none;
  color: white;
}

.error {
  border: 2px solid red;
}

.name-input-error-msg {
  padding-bottom: 15px;
  color: red;
}
