.square {
  height: 30px;
  width: 30px;
  box-sizing: border-box;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
}

.red,
.orange,
.yellow,
.blue,
.purple,
.white,
.pink {
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.row {
  display: flex;
}

.red {
  background-color: crimson;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: cornflowerblue;
}

.purple {
  background-color: purple;
}

.white {
  background-color: white;
}

.pink {
  background-color: pink;
}
