main {
  margin: 0 auto;
  background-color: purple;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#board {
  height: 400px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: green;
}


.links {
  margin-top: 20px;
  display: flex;
  font-size: 28px;
  justify-content: space-around;
  width: 200px;
}

.square {
  height: 20px;
  width: 20px;
}

.row {
  height: 20px;
  width: 200px;
  display: flex;
}

.isPiece {
  background-color: red;
}
