main {
  margin: 0 auto;
  background-color: purple;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#board {
  height: 600px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: green;
}


.links {
  margin-top: 20px;
  display: flex;
  font-size: 28px;
  justify-content: space-around;
  width: 200px;
}

.square {
  height: 30px;
  width: 30px;
}

.row {
  display: flex;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: purple;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}
